In [1]:
import numpy as np
import pandas as pd

In [2]:
btc_data = pd.read_csv('data/BTC-USD.csv')
btc_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10
1,2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10
2,2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10
3,2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10
4,2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10

In [3]:
btc_data.shape

(1213, 7)

In [4]:
na_data = btc_data.isna()
na_data['Date'].value_counts()

False    1213
Name: Date, dtype: int64

Wow, it looks like all of the data is there, and nicely formatted. We should definitely rename and describe the columns, and change the decimal places of the dataframe, but it is very nicely formatted.

Date: the date. We took data for each day the market was open since 2018 (Jan 1) until yesterday (4/27/2021). We picked 4/27 because some of the cryptocurrencies didn't have data available for today yet.

Open: The price of the cryptocurrency when the market opens for the day.

High: The highest price of the cryptocurrency for a given day.

Low: The lowest price of the cryptocurrency for a given day.

Close: The price of the cryptocurrency when the market closes for the day.

Adj Close: Stands for adjusted closing price. The adjusted closing price amends a stock's closing price to reflect that stock's value after accounting for any corporate actions. These appear to be the same as the normal closing price (Close).

Volume: The amount of the cryptocurrency traded. More specifically, the volume is the value of all transactions for the given day.

## Options for cleaning:

- Change datetime to start with days rather than years
- Rename Columns
- Change decimal places to make numbers more readable
- Create new columns that show the change in price from start to finish.

In [5]:
#make a new column for daily price change
btc_data['price change'] = btc_data['Close'] - btc_data['Open']
btc_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,price change
0,2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10,-455.000000
1,2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10,1357.099609
2,2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10,222.799805
3,2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10,328.500000
4,2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10,1952.299805

Some new, combined dataframes of the crypto's we want to examine might also be nice. This would be a good way to organize some of the data. For now, I'll start with 2:

1. A dataframe denoting all the closing prices for the day (to look at final prices and how well the crypto's do over time).
2. A dataframe denoting all the price changes for the day (to look at how well a crypto did in a given day)

The first dataframe can be visualized well with a line plot, since it is a visualization of the price of a few cryptocurrencies over time. The second diagram will be harder to visualize, since the price change on a given day can be completely difference than the change the day before. We'll have to experiment with possible visualizations.

To make these dataframes, I'll first import other popular cryptocurrencies to look at (maybe put all crypto in a list at top):

- Ethereum (ETH)
- XRP (XRP)
- Dogecoin (DOGE)

In [6]:
#read in data for other cryptocurrencies:
eth_data = pd.read_csv('data/ETH-USD.csv')
xrp_data = pd.read_csv('data/XRP-USD.csv')
doge_data = pd.read_csv('data/DOGE-USD.csv')

In [18]:
#dataframe of closing prices by day:
#we know for sure that bitcoin has all the dates we want, so I'll just use the dates from the btc dataframe.
closing_prices = [btc_data['Date'], btc_data['Close'], eth_data['Close'], xrp_data['Close'], doge_data['Close']]
closing_prices_headers = ['Date', 'BTC Price', 'ETH Price', 'XRP Price', 'DOGE Price']

price_by_day = pd.concat(closing_prices, axis = 1, keys = closing_prices_headers)
price_by_day.head()

         Date     BTC Price   ETH Price  XRP Price  DOGE Price
0  2018-01-01  13657.200195  772.640991    2.39103    0.008909
1  2018-01-02  14982.099609  884.443970    2.48090    0.009145
2  2018-01-03  15201.000000  962.719971    3.10537    0.009320
3  2018-01-04  15599.200195  980.921997    3.19663    0.009644
4  2018-01-05  17429.500000  997.719971    3.04871    0.012167

In [8]:
price_by_day.shape

(1213, 5)

In [9]:
eth_data['price change'] = eth_data['Close'] - eth_data['Open']
xrp_data['price change'] = xrp_data['Close'] - xrp_data['Open']
doge_data['price change'] = doge_data['Close'] - doge_data['Open']

In [17]:
#Dataframe of price changes by day
closing_changes = [btc_data['Date'], btc_data['price change'], eth_data['price change'], xrp_data['price change'], doge_data['price change']]
closing_changes_headers = ['date', 'btc_change', 'eth_Change', 'xrp_Change', 'doge_Change']

change_by_day = pd.concat(closing_changes, axis = 1, keys = closing_changes_headers)
change_by_day.head()

         date   btc_change  eth_Change  xrp_Change  doge_Change
0  2018-01-01  -455.000000   16.883972     0.09501    -0.000122
1  2018-01-02  1357.099609  112.097962     0.11142     0.000272
2  2018-01-03   222.799805   76.719971     0.64127     0.000232
3  2018-01-04   328.500000   19.208984     0.07929     0.000298
4  2018-01-05  1952.299805   21.969971    -0.25210     0.002507

### Some more things to keep in mind:

- Not all of the sets are as clean as bitcoin. I believe the XRP set has a few null rows, where data for that day was missing. I haven't taken these null rows out yet because I want to keep all tables the same size so that I can manipulate them more easily and make test comparisons.
- Dogecoin's price is absurdly low compared to the other cryptocurrencies, and Bitcoin's price is absurdly high. Perhaps it would be better to look at price changes in terms of percentages.