# **COGS 108 - Data Checkpoint**

# **Names**
- Alara Brashears

- Drake Coy

- Luke Sztajnkrycer

- Rohit Mishra

<a id='research_question'></a>
# **Research Question**

How do tweets from market celebrities/influencers (Elon Musk, ) affect crypto currency and stock market investments? More specifically, how do the sentiments of these tweets drive the number and types of investments, and how effective are the tweets of pop-culture figures (e.g. Elon Musk, Robert Downy Jr.) compared to less-known specialists (e.g. individuals with formal blockchain knowledge)?

# **Dataset(s)**

#### Crypto Currency Datasets (CSV's downloaded from Yahoo Finance)
- **Dataset Name: Bitcoin**
- Link to the dataset: https://finance.yahoo.com/quote/BTC-USD/history?p=BTC-USD
- Number of observations: 1,209   
This dataset provides general information on daily market trends for Bitcoin, including the starting and ending price of the cryptocurrency at each day, the high price, the low price, and the volume. Note that it is continuously updated, however our dataset uses information ranging from 1/1/2018 to 4/27/2021. We chose bitcoin because it is the most valuable cryptocurrency and it is traded in the highest volume. It is also the most known/popular cryptocurrency.


- **Dataset Name: Ethereum**
- Link to the dataset: https://finance.yahoo.com/quote/ETH-USD/history?p=ETH-USD
- Number of observations: 1,209    
This dataset provides general information on daily market trends for Ethereum, including the starting and ending price of the cryptocurrency at each day, the high price, the low price, and the volume. Note that it is continuously updated, however our dataset uses information ranging from 1/1/2018 to 4/27/2021. We chose Ethereum because it is one of the most valuable currencies on the market (roughly the second most valuable), however it is less known by general consumers than bitcoin. It is also commonly mined.



- **Dataset Name: Dogecoin**
- Link to the dataset: https://finance.yahoo.com/quote/DOGE-USD/history?p=DOGE-USD
- Number of observations: 1,209    
This dataset provides general information on daily market trends for dogecoin, including the starting and ending price of the cryptocurrency at each day, the high price, the low price, and the volume. Note that it is continuously updated, however our dataset uses information ranging from 1/1/2018 to 4/27/2021. We chose Dogecoin because each unit of it is worth nearly nothing, yet it is traded at such a high quantity that it is one of the most valuable currencies on the market. Additionally, it is often joked about by marketers such as Elon Musk.



- **Dataset Name: XRP**
- Link to the dataset: https://finance.yahoo.com/quote/XRP-USD/history?p=XRP-USD
- Number of observations: 1,209    
This dataset provides general information on daily market trends for XRP, including the starting and ending price of the cryptocurrency at each day, the high price, the low price, and the volume. Note that it is continuously updated, however our dataset uses information ranging from 1/1/2018 to 4/27/2021. We chose XRP because it is one of the most valuable currencies on the market, however it is less known by general consumers than bitcoin.

#### Twitter Datesets (Scraped from Twitter Directly)
- **Dataset Name: Elon Musk Tweets**
- Link to the dataset: http://localhost:8888/files/Documents/GitHub/group051_sp21/data/user-tweets-elonmusk.csv?_xsrf=2%7Cf30b1332%7Cf9e4a3f4c90f26a7897723f3df9c57cb%7C1618384478
- Number of observations: 9,502  
This dataset provides all of Elon Musk's tweets from the past three years (2018-2021). It contains the time the tweet was made, the content of the tweet, user information, a unique id, number of replys, number of retweets, number of quotes, and more information we will not be using. We chose to get Elon Musk's tweets because he has risen in popularity for championing crypto-investing, specifically dogecoin where he calls himself The DogeFather.

- **Dataset Name: Mark Cuban Tweets**
- Link to the dataset: http://localhost:8888/files/Documents/GitHub/group051_sp21/data/user-tweets-mcuban.csv?_xsrf=2%7Cf30b1332%7Cf9e4a3f4c90f26a7897723f3df9c57cb%7C1618384478
- Number of observations: 2,635  
This dataset provides all of Mark Cubans's tweets from the past three years (2018-2021). It contains the time the tweet was made, the content of the tweet, user information, a unique id, number of replys, number of retweets, number of quotes, and more information we will not be using. We chose to get Mark Cuban's tweets because he is a well known, and respected, financial advisor who has pushed crypto as a valid investment choice.

- **Dataset Name: Jack Dorsey Tweets** 
- Link to the dataset: http://localhost:8888/files/Documents/GitHub/group051_sp21/data/user-tweets-jack.csv?_xsrf=2%7Cf30b1332%7Cf9e4a3f4c90f26a7897723f3df9c57cb%7C1618384478
- Number of observations: 3,355  
This dataset provides all of Jack Dorseys's tweets from the past three years (2018-2021). It contains the time the tweet was made, the content of the tweet, user information, a unique id, number of replys, number of retweets, number of quotes, and more information we will not be using. We chose to get Jack Dorsey's tweets because as the creator of Twitter he has a massive following and pushed bitcoin heavily, with his bio stating "#bitcoin".

- **Dataset Name: Vladimir Tenev Tweets**
- Link to the dataset: http://localhost:8888/files/Documents/GitHub/group051_sp21/data/user-tweetsvladtenev.csv?_xsrf=2%7Cf30b1332%7Cf9e4a3f4c90f26a7897723f3df9c57cb%7C1618384478
- Number of observations: 239  
This dataset provides all of Vladimir Tenev's tweets from the past three years (2018-2021). It contains the time the tweet was made, the content of the tweet, user information, a unique id, number of replys, number of retweets, number of quotes, and more information we will not be using. We chose to get Vladimir Tenev's tweets because as the founder and CEO of Robinhood (extremely popular crypto/stock investing app among beginners) he should have both experience and ability to influence the crypto markets.

- **Dataset Name: Brian Armstrong Tweets**
- Link to the dataset: http://localhost:8888/files/Documents/GitHub/group051_sp21/data/user-weetsbrian_armstrong.csv?_xsrf=2%7Cf30b1332%7Cf9e4a3f4c90f26a7897723f3df9c57cb%7C1618384478
- Number of observations: 185  
This dataset provides all of Brian Armstrong's tweets from the past three years (2018-2021). It contains the time the tweet was made, the content of the tweet, user information, a unique id, number of replys, number of retweets, number of quotes, and more information we will not be using. We chose to get Brian Armstrong's tweets because as the founder and CEO of Coinbase (extremely popular crypto investing platform) he should have both experience and ability to influence the crypto markets.

- **Dataset Name: Bespoke Crypto Tweets**
- Link to the dataset: http://localhost:8888/files/Documents/GitHub/group051_sp21/data/user-tweets-BespokeCrypto.csv?_xsrf=2%7Cf30b1332%7Cf9e4a3f4c90f26a7897723f3df9c57cb%7C1618384478
- Number of observations: 187  
This dataset provides all of Bespoke Crypto's tweets from the past three years (2018-2021). It contains the time the tweet was made, the content of the tweet, user information, a unique id, number of replys, number of retweets, number of quotes, and more information we will not be using. We chose to get Bespoke Crypto's tweets because they are a wellknown organization that specializes in providing advice for people wanting to invest in crypto, thus their tweets should be very knowledgable.

*Note: The Twitter data scraped was done with a modified version of Martin Beck's "Twitter Scraper." The github repo to his code can be found here:*   
https://github.com/MartinBeckUT/TwitterScraper

#### Plans to combine the above datasets

There are many ways to combine these datasets; you can see in the data processing section of this report that we have already combined daily prices and price changes from each of our four cryptocurrencies so that we may better analyze the trend of each currency when we move into EDA (we have other ideas, but these are some preliminary ones). Additionally, the tweets we have scraped all have dates on them; this means we can perform sentiment analysis on the twitter datasets to see if these influencers are talking about similar things at similar times, and to see if their tweets actually do influence the prices of popular cryptocurrencies

# **Setup**

In [1]:
#importing relevant libraries
import pandas as pd
import numpy as np
pd.options.display.max_rows = 999
pd.options.display.max_columns = 25

In [2]:
#Twitter Data
elon_musk_tweets = pd.read_csv('data/user-tweets-elonmusk.csv')
mark_cuban_tweets = pd.read_csv('data/user-tweets-mcuban.csv')
jack_dorsey_tweets = pd.read_csv('data/user-tweets-jack.csv')
vladimir_tenev_tweets = pd.read_csv('data/user-tweets-vladtenev.csv')
brian_armstrong_tweets = pd.read_csv('data/user-tweets-brian_armstrong.csv')
bespoke_crypto_tweets = pd.read_csv('data/user-tweets-BespokeCrypto.csv')

In [3]:
#Crypto Currecny Data
btc_data = pd.read_csv('data/BTC-USD.csv')
eth_data = pd.read_csv('data/ETH-USD.csv')
xrp_data = pd.read_csv('data/XRP-USD.csv')
doge_data = pd.read_csv('data/DOGE-USD.csv')

# **Data Cleaning**

We began our data cleaning be examining all of our columns and determining which information would be relevant to answering our research questions. When then dropped any information we deemed irrelevant and then proceeded to clean up our data. Our first cleaning step was to address any nan or missing values, of which there were very little. Then we converted all dates were to be simple strings in a year-month-day format (we are considering using pandas datetime but decide to address that question later during EDA too see which would be more accessible). Then, we changed all of our column titles to be in snake case for continuity thoughout the project. Once our data was cleaned we looked at our twitter and crypto data and combined all of our datasets into shared dataframe in anticipation for analysis (more of this will be done once we begin our EDA).

## Cleaning for Twitter Data

### Data Prep
We found if there were any null values for tweets, and did this for each "influencer's" tweets.

In [4]:
#Elon as example of data prep process
elon_musk_tweets.columns

Index(['url', 'date', 'content', 'renderedContent', 'id', 'user', 'outlinks',
       'tcooutlinks', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'media',
       'retweetedTweet', 'quotedTweet', 'mentionedUsers', 'coordinates',
       'place'],
      dtype='object')

### Column Descriptions:
#### Name - Keeping/Removing - Description

**url** - removing - provides the url to the tweet  
**date** - keeping - provides the date and time for when the tweet was published  
**content** - keeping - the actual text of the tweet  
**renderedContent** - removing - seems to be a direct repeat of 'content'  
**id** - keeping - unique id for each tweet  
**user** - keeping - provides user information including name, username, id, description, verified status, and more  
**outlinks** - removing - indicates any links to outside websites  
**tcooutlinks** - removing - shortend version of links in 'outlinks'  
**replyCount** - keeping - number of replies a tweet recieved  
**retweetCount** - keeping - number of retweets a tweet recieved  
**retweetCount** - keeping - number of retweets a tweet recieved  
**likeCount** - keeping - number of likes a tweet recieved  
**quoteCount** - keeping - number of times a tweet was quoted 
**conversationId** - removing - unique id for the conversation  
**lang** - removing - the language the tweet was made in  
**source** - removing - shows the raw source for where the tweet came from
**sourceURL** - removing - cleaned url from the 'source' column  
**sourceLabel** - removing - cleaned device name for where the tweet came from  
**media** - removing - link to any imbeded photos/videos in the tweet  
**retweetedTweet** - removing - link to original tweeted if this is a retweet  
**quotedTweet** - removing - link to original tweeted if this tweet is quoting another  
**mentionedUsers** - removing - twitter profile information for anyone tagged in the tweet  
**coordinates** - removing - show the gps coordinates of any linked location  
**place** - removing - shows the place of any linked location

In [5]:
#checking for any na values
elon_musk_tweets.isna()['content'].value_counts(), elon_musk_tweets.isna()['date'].value_counts(), \
elon_musk_tweets.isna()['id'].value_counts()

(False    10000
 Name: content, dtype: int64,
 False    10000
 Name: date, dtype: int64,
 False    10000
 Name: id, dtype: int64)

### Dropping Irrelevant Columns

In [6]:
#We found several columns from the dataset description that we decided was not relevant toward the study
columns_to_drop = ['url', 'renderedContent', 'outlinks', 'tcooutlinks', 'conversationId', 'lang', 'source', 
                    'sourceUrl', 'sourceLabel', 'media','retweetedTweet', 'quotedTweet', 'mentionedUsers', 
                    'coordinates','place']
elon_musk_tweets = elon_musk_tweets.drop(columns=columns_to_drop)
mark_cuban_tweets = mark_cuban_tweets.drop(columns=columns_to_drop)
jack_dorsey_tweets = jack_dorsey_tweets.drop(columns=columns_to_drop)
vladimir_tenev_tweets = vladimir_tenev_tweets.drop(columns=columns_to_drop)
brian_armstrong_tweets = brian_armstrong_tweets.drop(columns=columns_to_drop)
bespoke_crypto_tweets = bespoke_crypto_tweets.drop(columns=columns_to_drop)

### Cleaning up Dates

In [7]:
#helper functions to clean up date columns
def year_from_date(date_time):
    year = date_time.split('-')[0]
    return int(year)

def month_from_date(date_time):
    month = date_time.split('-')[1]
    return int(month)

def day_from_date(date_time):
    date = date_time.split(' ')[0]
    day = date.split('-')[2]
    return int(day)

def date_from_date(date_time):
    date = date_time.split(' ')[0]
    return date

def time_from_date(date_time):
    date = date_time.split(' ')[1].split('+')[0]
    return date

In [8]:
#Applying date functions to create columns for year/month/day
#Elon Musk
elon_musk_tweets = elon_musk_tweets.assign(year = elon_musk_tweets.date.apply(year_from_date))
elon_musk_tweets = elon_musk_tweets.assign(month = elon_musk_tweets.date.apply(month_from_date))
elon_musk_tweets = elon_musk_tweets.assign(day = elon_musk_tweets.date.apply(day_from_date))
elon_musk_tweets = elon_musk_tweets.assign(time = elon_musk_tweets.date.apply(time_from_date))
elon_musk_tweets = elon_musk_tweets.assign(date = elon_musk_tweets.date.apply(date_from_date))

#Mark Cuban
mark_cuban_tweets = mark_cuban_tweets.assign(year = mark_cuban_tweets.date.apply(year_from_date))
mark_cuban_tweets = mark_cuban_tweets.assign(month = mark_cuban_tweets.date.apply(month_from_date))
mark_cuban_tweets = mark_cuban_tweets.assign(day = mark_cuban_tweets.date.apply(day_from_date))
mark_cuban_tweets = mark_cuban_tweets.assign(time = mark_cuban_tweets.date.apply(time_from_date))
mark_cuban_tweets = mark_cuban_tweets.assign(date = mark_cuban_tweets.date.apply(date_from_date))

#Jack Dorsey
jack_dorsey_tweets = jack_dorsey_tweets.assign(year = jack_dorsey_tweets.date.apply(year_from_date))
jack_dorsey_tweets = jack_dorsey_tweets.assign(month = jack_dorsey_tweets.date.apply(month_from_date))
jack_dorsey_tweets = jack_dorsey_tweets.assign(day = jack_dorsey_tweets.date.apply(day_from_date))
jack_dorsey_tweets = jack_dorsey_tweets.assign(time = jack_dorsey_tweets.date.apply(time_from_date))
jack_dorsey_tweets = jack_dorsey_tweets.assign(date = jack_dorsey_tweets.date.apply(date_from_date))

#Vladimir Tenev
vladimir_tenev_tweets = vladimir_tenev_tweets.assign(year = vladimir_tenev_tweets.date.apply(year_from_date))
vladimir_tenev_tweets = vladimir_tenev_tweets.assign(month = vladimir_tenev_tweets.date.apply(month_from_date))
vladimir_tenev_tweets = vladimir_tenev_tweets.assign(day = vladimir_tenev_tweets.date.apply(day_from_date))
vladimir_tenev_tweets = vladimir_tenev_tweets.assign(time = vladimir_tenev_tweets.date.apply(time_from_date))
vladimir_tenev_tweets = vladimir_tenev_tweets.assign(date = vladimir_tenev_tweets.date.apply(date_from_date))

#Brian Armstrong
brian_armstrong_tweets = brian_armstrong_tweets.assign(year = brian_armstrong_tweets.date.apply(year_from_date))
brian_armstrong_tweets = brian_armstrong_tweets.assign(month = brian_armstrong_tweets.date.apply(month_from_date))
brian_armstrong_tweets = brian_armstrong_tweets.assign(day = brian_armstrong_tweets.date.apply(day_from_date))
brian_armstrong_tweets = brian_armstrong_tweets.assign(time = brian_armstrong_tweets.date.apply(time_from_date))
brian_armstrong_tweets = brian_armstrong_tweets.assign(date = brian_armstrong_tweets.date.apply(date_from_date))

#Bespoke Crypto
bespoke_crypto_tweets = bespoke_crypto_tweets.assign(year = elon_musk_tweets.date.apply(year_from_date))
bespoke_crypto_tweets = bespoke_crypto_tweets.assign(month = elon_musk_tweets.date.apply(month_from_date))
bespoke_crypto_tweets = bespoke_crypto_tweets.assign(day = elon_musk_tweets.date.apply(day_from_date))
bespoke_crypto_tweets = bespoke_crypto_tweets.assign(time = bespoke_crypto_tweets.date.apply(time_from_date))
bespoke_crypto_tweets = bespoke_crypto_tweets.assign(date = bespoke_crypto_tweets.date.apply(date_from_date))

### Cleaning up User Column information

In [9]:
#helper function to pull username from dictionary of user information
def get_display_name(user):
    name = user.split(',')[1].split("'")[3]
    return name

In [10]:
#Appling username helper function to simplify user column data
#Elon Musk
elon_musk_tweets = elon_musk_tweets.assign(user = elon_musk_tweets.user.apply(get_display_name))

#Mark Cuban
mark_cuban_tweets = mark_cuban_tweets.assign(user = mark_cuban_tweets.user.apply(get_display_name))

#Jack Dorsey
jack_dorsey_tweets = jack_dorsey_tweets.assign(user = jack_dorsey_tweets.user.apply(get_display_name))

#Vladimir Tenev
vladimir_tenev_tweets = vladimir_tenev_tweets.assign(user = vladimir_tenev_tweets.user.apply(get_display_name))

#Brian Armstrong
brian_armstrong_tweets = brian_armstrong_tweets.assign(user = brian_armstrong_tweets.user.apply(get_display_name))

#Bespoke Crypto
bespoke_crypto_tweets = bespoke_crypto_tweets.assign(user = bespoke_crypto_tweets.user.apply(get_display_name))

### We are only interested in tweets dating back to 2018 --> Drop earlier dates

In [11]:
#Elon Musk
elon_musk_tweets = elon_musk_tweets[elon_musk_tweets.get('year') >= 2018]

#Mark Cuban
mark_cuban_tweets = mark_cuban_tweets[mark_cuban_tweets.get('year') >= 2018]

#Jack Dorsey
jack_dorsey_tweets = jack_dorsey_tweets[jack_dorsey_tweets.get('year') >= 2018]

#Vladimir Tenev
vladimir_tenev_tweets = vladimir_tenev_tweets[vladimir_tenev_tweets.get('year') >= 2018]

#Brian Armstrong
brian_armstrong_tweets = brian_armstrong_tweets[brian_armstrong_tweets.get('year') >= 2018]

#Bespoke Crypto
bespoke_crypto_tweets = bespoke_crypto_tweets[bespoke_crypto_tweets.get('year') >= 2018]

### Rename all column headers to standard snake_case

In [12]:
elon_musk_tweets.columns

Index(['date', 'content', 'id', 'user', 'replyCount', 'retweetCount',
       'likeCount', 'quoteCount', 'year', 'month', 'day', 'time'],
      dtype='object')

In [13]:
elon_musk_tweets = elon_musk_tweets.rename({'replyCount':'reply_count', 'likeCount':'like_count', 'quoteCount':'quote_count', 'retweetCount':'retweet_count'}, axis='columns')
mark_cuban_tweets = mark_cuban_tweets.rename({'replyCount':'reply_count', 'likeCount':'like_count', 'quoteCount':'quote_count', 'retweetCount':'retweet_count'}, axis='columns')
jack_dorsey_tweets = jack_dorsey_tweets.rename({'replyCount':'reply_count', 'likeCount':'like_count', 'quoteCount':'quote_count', 'retweetCount':'retweet_count'}, axis='columns')
vladimir_tenev_tweets = vladimir_tenev_tweets.rename({'replyCount':'reply_count', 'likeCount':'like_count', 'quoteCount':'quote_count', 'retweetCount':'retweet_count'}, axis='columns')
brian_armstrong_tweets = brian_armstrong_tweets.rename({'replyCount':'reply_count', 'likeCount':'like_count', 'quoteCount':'quote_count', 'retweetCount':'retweet_count'}, axis='columns')
bespoke_crypto_tweets = bespoke_crypto_tweets.rename({'replyCount':'reply_count', 'likeCount':'like_count', 'quoteCount':'quote_count', 'retweetCount':'retweet_count'}, axis='columns')

In [14]:
bespoke_crypto_tweets.head()

,date,content,id,user,reply_count,retweet_count,like_count,quote_count,year,month,day,time
0,2018-04-13,"Despite the last two day's bounce, adequate sc...",984796747707887619,Bespoke Crypto,0,0,2,0,2021,5,3,14:13:35
1,2018-03-26,#Bitcoin futures are trading in contango. http...,978384733364252672,Bespoke Crypto,2,3,4,1,2021,5,3,21:34:32
2,2018-03-16,The first bitcoin mining ban?\n\nhttps://t.co/...,974766693682688000,Bespoke Crypto,0,0,0,0,2021,5,3,21:57:44
3,2018-03-07,Recent price action could also possibly be exp...,971444160485117957,Bespoke Crypto,0,0,0,0,2021,5,2,17:55:11
4,2018-03-07,A popular trading bot used on Binance has been...,971432353326301189,Bespoke Crypto,0,0,1,0,2021,5,2,17:08:16

### Combine all Influencer's tweets into a common dataframe

In [15]:
tweets = (elon_musk_tweets.merge(mark_cuban_tweets, how='outer')
                        .merge(jack_dorsey_tweets, how='outer')
                        .merge(vladimir_tenev_tweets, how='outer')
                        .merge(brian_armstrong_tweets, how='outer')
                        .merge(bespoke_crypto_tweets, how='outer'))

In [16]:
#check to make sure all tweets were preserved during the merge
total_num_tweet = elon_musk_tweets.shape[0] + mark_cuban_tweets.shape[0] + jack_dorsey_tweets.shape[0] \
                    + vladimir_tenev_tweets.shape[0] + brian_armstrong_tweets.shape[0] \
                    + bespoke_crypto_tweets.shape[0]
total_num_tweet == tweets.shape[0]

True

### Final Cleaned Twitter Datasets

In [17]:
#Only showed Elon Musk's dataset considering all others are the same
elon_musk_tweets.head()

,date,content,id,user,reply_count,retweet_count,like_count,quote_count,year,month,day,time
0,2021-05-03,@MeetLuis @WARREZ420 @WholeMarsBlog Rawlinson ...,1389270326073253889,Elon Musk,368,219,2281,100,2021,5,3,17:27:11
1,2021-05-03,@spacex360 So great to see the happy faces!,1389126650508480512,Elon Musk,774,943,29807,42,2021,5,3,07:56:16
2,2021-05-03,"@utsavtechie Prototypes are easy, production i...",1389102532706848768,Elon Musk,2791,8029,159645,648,2021,5,3,06:20:26
3,2021-05-02,@heydave7 @Tesla A remarkable junction in history,1388980879175954433,Elon Musk,918,865,16742,71,2021,5,2,22:17:02
4,2021-05-02,@jaentwistle One of many reasons why we need l...,1388963849043419140,Elon Musk,1152,1474,32663,78,2021,5,2,21:09:21

In [18]:
#Combined dataset with all influencers in it. Looks exact same as above but is much larger.
tweets.head()

,date,content,id,user,reply_count,retweet_count,like_count,quote_count,year,month,day,time
0,2021-05-03,@MeetLuis @WARREZ420 @WholeMarsBlog Rawlinson ...,1389270326073253889,Elon Musk,368,219,2281,100,2021,5,3,17:27:11
1,2021-05-03,@spacex360 So great to see the happy faces!,1389126650508480512,Elon Musk,774,943,29807,42,2021,5,3,07:56:16
2,2021-05-03,"@utsavtechie Prototypes are easy, production i...",1389102532706848768,Elon Musk,2791,8029,159645,648,2021,5,3,06:20:26
3,2021-05-02,@heydave7 @Tesla A remarkable junction in history,1388980879175954433,Elon Musk,918,865,16742,71,2021,5,2,22:17:02
4,2021-05-02,@jaentwistle One of many reasons why we need l...,1388963849043419140,Elon Musk,1152,1474,32663,78,2021,5,2,21:09:21

In [19]:
elon_musk_tweets.shape, tweets.shape

((9502, 12), (16103, 12))

## Cleaning for Crypto Currency Data

### Column Descriptions:
#### Name - Keeping/Removing - Description

**Date** - keeping - the date. We took data for each day the market was open since 2018 (Jan 1) until yesterday (4/27/2021). We picked 4/27 because some of the cryptocurrencies didn't have data available for today yet.  
**Open** - keeping - The price of the cryptocurrency when the market opens for the day.  
**High** - keeping - The highest price of the cryptocurrency for a given day.  
**Low** - keeping - The lowest price of the cryptocurrency for a given day.  
**Close** - keeping - The price of the cryptocurrency when the market closes for the day.  
**Adj Close** - keeping - Stands for adjusted closing price. The adjusted closing price amends a stock's closing price to reflect that stock's value after accounting for any corporate actions. These appear to be the same as the normal closing price (Close).  
**Volume** - keeping - The amount of the cryptocurrency traded. More specifically, the volume is the value of all transactions for the given day.

In [20]:
#checking to find an na values
doge_na = doge_data.isna()
doge_na['Open'].value_counts()

False    1209
True        4
Name: Open, dtype: int64

In [21]:
# The four na values above are the exact same dates across all 4 of our crypto data sets, we assume there was an issue with Yahoo Finance during these days such that the values
# didnt get recorded. We are planning to keep these values in so there is date continuity but were will not use them in our analysis.

In [22]:
#make a new column for daily price change
btc_data['price change'] = btc_data['Close'] - btc_data['Open']
eth_data['price change'] = eth_data['Close'] - eth_data['Open']
xrp_data['price change'] = xrp_data['Close'] - xrp_data['Open']
doge_data['price change'] = doge_data['Close'] - doge_data['Open']
btc_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,price change
0,2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10,-455.000000
1,2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10,1357.099609
2,2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10,222.799805
3,2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10,328.500000
4,2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10,1952.299805

### Change the Column names to standardized snake case

In [23]:
btc_data = btc_data.rename({'Date':'date', 'Open':'open', 'High':'high', 'Low':'low', 'Close':'close', 'Adj Close':'adj_close', 'Volume':'volume', 'price change':'price_change'}, axis='columns')
eth_data = eth_data.rename({'Date':'date', 'Open':'open', 'High':'high', 'Low':'low', 'Close':'close', 'Adj Close':'adj_close', 'Volume':'volume', 'price change':'price_change'}, axis='columns')
xrp_data = xrp_data.rename({'Date':'date', 'Open':'open', 'High':'high', 'Low':'low', 'Close':'close', 'Adj Close':'adj_close', 'Volume':'volume', 'price change':'price_change'}, axis='columns')
doge_data = doge_data.rename({'Date':'date', 'Open':'open', 'High':'high', 'Low':'low', 'Close':'close', 'Adj Close':'adj_close', 'Volume':'volume', 'price change':'price_change'}, axis='columns')

In [24]:
#dataframe of closing prices by day:
#we know for sure that bitcoin has all the dates we want, so I'll just use the dates from the btc dataframe.
closing_prices = [btc_data['date'], btc_data['close'], eth_data['close'], xrp_data['close'], doge_data['close']]
closing_prices_headers = ['date', 'btc_price', 'eth_price', 'xrp_price', 'doge_price']

price_by_day = pd.concat(closing_prices, axis = 1, keys = closing_prices_headers)
price_by_day.head()

         date     btc_price   eth_price  xrp_price  doge_price
0  2018-01-01  13657.200195  772.640991    2.39103    0.008909
1  2018-01-02  14982.099609  884.443970    2.48090    0.009145
2  2018-01-03  15201.000000  962.719971    3.10537    0.009320
3  2018-01-04  15599.200195  980.921997    3.19663    0.009644
4  2018-01-05  17429.500000  997.719971    3.04871    0.012167

In [25]:
#Dataframe of price changes by day
closing_changes = [btc_data['date'], btc_data['price_change'], eth_data['price_change'], xrp_data['price_change'], doge_data['price_change']]
closing_changes_headers = ['date', 'btc_change', 'eth_change', 'xrp_change', 'doge_change']

change_by_day = pd.concat(closing_changes, axis = 1, keys = closing_changes_headers)
change_by_day.head()

         date   btc_change  eth_change  xrp_change  doge_change
0  2018-01-01  -455.000000   16.883972     0.09501    -0.000122
1  2018-01-02  1357.099609  112.097962     0.11142     0.000272
2  2018-01-03   222.799805   76.719971     0.64127     0.000232
3  2018-01-04   328.500000   19.208984     0.07929     0.000298
4  2018-01-05  1952.299805   21.969971    -0.25210     0.002507

### Final Cleaned Crypto Currency Datasets

In [26]:
#Only showed Bitcoin dataset considering all others are the same
btc_data.head()

,date,open,high,low,close,adj_close,volume,price_change
0,2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10,-455.000000
1,2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10,1357.099609
2,2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10,222.799805
3,2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10,328.500000
4,2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10,1952.299805

In [27]:
#Combined Dataset showing only the closing prices per day for each currency
price_by_day.head()

         date     btc_price   eth_price  xrp_price  doge_price
0  2018-01-01  13657.200195  772.640991    2.39103    0.008909
1  2018-01-02  14982.099609  884.443970    2.48090    0.009145
2  2018-01-03  15201.000000  962.719971    3.10537    0.009320
3  2018-01-04  15599.200195  980.921997    3.19663    0.009644
4  2018-01-05  17429.500000  997.719971    3.04871    0.012167

In [28]:
#Combined Dataset showing only the change in price per day for each currency
price_by_day.head()

         date     btc_price   eth_price  xrp_price  doge_price
0  2018-01-01  13657.200195  772.640991    2.39103    0.008909
1  2018-01-02  14982.099609  884.443970    2.48090    0.009145
2  2018-01-03  15201.000000  962.719971    3.10537    0.009320
3  2018-01-04  15599.200195  980.921997    3.19663    0.009644
4  2018-01-05  17429.500000  997.719971    3.04871    0.012167